{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="text-center">
    <h1>REPUBLIQUE DU BENIN</h1>

    <p>MINISTERE DE L'ENSEIGNEMENT SUPERIEUR ET DE LA RECHERCHE SCIENTIFIQUE(M.D.E.S.R.S)</p>
    <p>DIRECTION DES EXAMENS ET CONCOURS(D.E.C)</p>
  
{% endblock %}
