{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-2">
                <iframe src="{{path('app_menu')}}" frameborder="0"></iframe>
            </div>
            
            <div class="border-start border-black col-sm-10 row">
                <iframe class=" border-bottomt border-black  col-sm-12" src="{{path('app_entete')}}" frameborder="0"></iframe>            
                <iframe class="col-sm-12" name="cadre1" style="height: 500px; width: 100%;" src="{{path('app_etudiant_new')}}" frameborder="0"></iframe>
            </div>
        </div>

    </div>


{% endblock %}
